* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

button {
    padding: 0.6rem 1rem;
    border-radius: 2px;
    font-size: 14px;
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    min-height: 38px;
    transition: all 0.2s ease-in-out;
}

button.primary,
button.accent {
    background-color: #6db33f;
    color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}

#username-page {
    text-align: center;
}

.username-page-container {
    background: #fff;
    padding: 35px 55px;
    min-height: 250px;
    border-radius: 2px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    max-width: 500px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.username-page-container .username-submit {
    margin-top: 10px;
}

#chat-page {
    height: 100%;
    position: relative;
}

.chat-container {
    background-color: #fff;
    max-width: 700px;
    margin: 30px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: calc(100% - 60px);
    position: relative;
}

.chat-header {
    text-align: center;
    padding: 15px;
    background-color: #4a76a8;
    color: white;
    font-size: 1.2em;
    border-bottom: 1px solid #ececec;
}

.connecting {
    position: absolute;
    top: 65px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    color: #777;
}

.message-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 4px;
    padding: 10px;
}

.message-container #messageArea {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.message-container #messageForm {
    border-top: 1px solid #ccc;
    padding: 10px;
}

.message-container #messageForm .input-group {
    display: flex;
    align-items: center;
}

.message-container #messageForm .input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.message-container #messageForm .input-group button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #6db33f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.event-message {
    text-align: center;
    width: 100%;
    clear: both;
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f4;
}

.event-message p {
    color: #777;
    font-size: 14px;
    margin: 0;
    word-wrap: break-word;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.chat-message.self {
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.chat-message.other {
    justify-content: flex-start;
    flex-direction: row;
}

.chat-message i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #999;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-weight: bold;
    font-size: 1rem;
}

.message-details {
    display: flex;
    flex-direction: column;
}

.sender-name {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 3px;
    color: #444;
}

.bubble {
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

.chat-message.self .bubble {
    background-color: #dcf8c6;
}

.chat-message.other .bubble {
    background-color: #fff;
    border: 1px solid #ccc;
}

@media screen and (max-width: 730px) {
    .chat-container {
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        width: auto;
        margin: 15px;
        padding: 25px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header {
        padding: 10px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }

    .message-container {
        height: calc(100% - 70px);
    }

    #messageForm .input-group button {
        width: 65px;
    }
}